@media(max-width: 1150px) {
    .header__text {
        display: none;
    }
    .footer__inner {
        // Блоки встают друг под друга при изменении страницы
        flex-wrap: wrap;
    }
    .footer__col-about {
        // Текст на всю страницу => блоки встанут с низу
        min-width: 100%;
        margin-bottom: 30px;
    }
}

@media(max-width: 900px) {
    .footer__col-social {
        min-width: 100%;
        margin-top: 30px;
    }
    .footer__inner {
        justify-content: flex-start;
    }
    .footer__col-menu {
        &+& {
            margin-left: 50px;
        }
    }
}

@media(max-width: 840px) {
    .menu__list {
        display: none;
        background-color: $bg;
        position: absolute;
        top: 150px;
        left: 0;
        right: 0;
        z-index: 1;
        text-align: center;
        padding-bottom: 30px;
        a {
            display: block;
            padding: 10px 0;
            border-bottom: 1px solid #fff;
        }
        li {
            display: block;
            &+li {
                margin-left: 0;
            }
            &:first-child {
                border-top: 1px solid #fff;
            }
        }
    }
    .menu__btn {
        display: block;
        width: 30px;
        cursor: pointer;
        // position: absolute;
        top: 34px;
        div {
            background-color: #fff;
            height: 3px;
        }
        div+div {
            margin-top: 4px;
        }
    }
}

@media(max-width: 740px) {
    .notification__box,
    .message__box {
        display: none;
    }
}

@media(max-width: 600px) {
    .circle__menu {
        right: auto;
    }
}

@media(max-width: 540px) {
    .footer__col {
        min-width: 100%;
    }
    .footer__col-menu {
        &+& {
            margin-left: 0px;
            margin-top: 30px;
        }
    }
}

@media(max-width: 520px) {
    .header__btn-menu {
        display: block;
    }
    .header__btn-menu {
        width: 70px;
        height: 70px;
        background-color: $bg;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 4;
        &::before {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 36px;
            color: #fff;
        }
    }
    .header__box {
        position: absolute;
        background-color: #fff;
        height: 70px;
        z-index: 2;
        left: 100%;
        right: 0;
        &.active {
            left: 70px;
            right: auto;
        }
    }
    .header__btn {
        top: 34px;
        div {
            background-color: $bg;
        }
    }
    .menu__btn {
        display: block;
        width: 30px;
        cursor: pointer;
        position: absolute;
        top: 26px;
        margin-left: 5px;
        div {
            background-color: #000;
            height: 3px;
        }
    }
    .header__logo {
        margin-left: 60px;
    }
    .header__top-inner {
        height: 70px;
    }
    .circle__menu {
        top: 52px;
        padding-left: 50px;
    }
    .user__menu {
        top: 60px;
    }
    .menu__list {
        top: 70px;
    }
}

@media(max-width: 495px) {
    .user__info {
        display: none;
    }
    .user__img {
        margin-right: 0px;
    }
}

@media(max-width: 390px) {
    .header__box {
        &.active {
            left: 47px;
        }
    }
}

@media(max-width: 360px) {
    .user {
        margin-right: 0px;
    }
    .basket {
        margin-right: 10px;
    }
    .circle__menu {
        left: -100px;
    }
}

@media(min-width: 841px) {
    .menu__list {
        display: block !important;
    }
}